{% extends '_base.html' %}
{% load i18n %}

{% block css_media %}
    {% include "forgot/_media.html"%}
{% endblock css_media %}
{% block title %}
	<title>{% trans "Password Reset" %} - UIMirror</title>
{% endblock title %}
{% block content %}
	{% include "_theme.html" %}
	<div></div>
	<div class="recovery main content clearfix fgtpwdmain" id="_ui_recovery">
		<h1 class="f14">{% trans "Having trouble signing in" %}?</h1>
		<form action="#" id="_ui_reset_pwd_frm">
	    	<div class="ui_error _ui_e_w_b mb20 _ui_e_w_lgn_w {% if not error %}hidden{% endif %}" id="_ui_reset_faild_msg_wr">
	    		<i class="ui_error_img dib"></i>
	    		<span class="f13" id="_ui_reset_faild_msg">{% if error %}{% blocktrans %}{{ errmsg }}.{% endblocktrans %}{% endif %}</span>
	    	</div>
			<div class="radio-option">
				<input type="radio" name="preoption" value="1" id="1" checked="checked"/>
				<label class="radio-label" for="1">{% trans "I don't know my password" %}</label>
				<div class="hideable-wrapper hidden" id="hideable-box1" style="height: 100px;">
					<div class="hideable-box">
						<div class="secondary">{% blocktrans %}To reset your password, enter the email address you use to sign in to UIMirror Network{% endblocktrans %}.</div>
						<label class="stacked-label">{% trans "Email address" %}
							<p><input type="text" name="Email1" value="" class="english-text" id="Email1"/></p>
						</label>
					</div>
				</div>
			</div>
			<div class="radio-option">
				<input type="radio" name="preoption" value="2" id="2"/>
				<label class="radio-label" for="1">{% trans "I lost access to my profile" %}</label>
				<div class="hideable-wrapper hidden" id="hideable-box2" style="height: 160px;">
					<div class="hideable-box"><div class="secondary">{% blocktrans %}To reset your password, enter the most recent password you remember and the email address you have access to{% endblocktrans %}.</div>
						<label class="stacked-label">{% trans "Email address" %}
							<p><input type="text" name="Email2" value="" class="english-text" id="Email2"/></p>
						</label>
						<label class="stacked-label">{% trans "Most recent password" %}
							<p><input type="text" name="recentpassword2" value="" class="english-text" id="recentpassword2"/></p>
						</label>
					</div>
				</div>
			</div>
			<p class="recovery-submit mt20">
				<a class="_uibtn lh-30 _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24 _uibtn_wd_lr" role="button" href="#" id="_ui_frgt_pwd_sbmt">{% trans "Reset" %}</a>
			</p>
		</form>
	</div>
{% endblock content %}

{% block script_media %}
	{% include "forgot/_script_media.html" %}
{% endblock script_media %}