{% load i18n %}
<<style>
ul.challengeTagListWrap,ul#challenges{
	list-style: none;
	padding: 0px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.challenge.list-view
{
    float: none;
    width: 100%;
    background-color: #fff;
}
.challenge.list-view:nth-of-type(odd):hover,.challenge.list-view:hover
{
    background: #428bca;
}
.challenge.list-view .thumbnail
{
    margin-bottom: 0px;
}
.challenge.list-view .caption
{
    padding: 9px 9px 5px 9px;
}
.challenge.list-view:nth-of-type(odd)
{
    background: #eeeeee;
}

/* .challenge.list-view:before, .challenge.list-view:after
{
    display: table;
    content: " ";
} */

.challenge.list-view img
{
    float: left;
}
.challenge.list-view:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.challenge>.thumbnail>.banner{
	height: 120px;
	width: 195px;
}
.challenge.list-view>.thumbnail>.banner{
	height: 130px;
	width: 130px;
}
.challengeFeedWrap.well{
	border-top: none;
}
.challenge.list-view>.thumbnail>.banner
{
    margin-right: 10px;
}
.challenge.list-view>.thumbnail
{
    border: none;
}
.challenge.list-view .detailsWrap{
	max-height: 146px;
	max-width: 587px;
	overflow: hidden;
	min-height: 121px;
}
.challenge .actorImage{
	height: 30px;
	width: 45px;
}

ul.challengeTagListWrap>li.tag{
	display: inline;
	float: left;
}
</style>
<ul id="challenges" class="row list-group">
	<li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            			Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            		</a>
            		<span>Starting from :</span>
	         		<time datetime="2014-07-20">
						<span class="day">4</span>
						<span class="month">Jul</span>
						<span class="year">2014</span>
					</time>
					<span>Ending on :</span>
					<time datetime="2014-07-20">
						<span class="day">4</span>
						<span class="month">Jul</span>
						<span class="year">2014</span>
					</time>
					<div>
					<ul class="challengeTagListWrap">
       					<li class="tag"><span class="badge">Java</span></li>
       					<li class="tag"><span class="badge">PHP</span></li>
       					<li class="tag"><span class="badge">Perl</span></li>
       					<li class="tag"><span class="badge">Perl</span></li>
       					<li class="tag"><span class="badge">Perl</span></li>
       					<li class="tag"><span class="more">...</span></li>
            		</ul>
            		</div>
            		<div class="clearfix">
                        		<small>13 Mins Agao</small>
                       		</div>
            		<div class="row">
                        	
                       		<div class="col-xs-12 col-md-12 nop">
                           		<div class="row no_margin">
                           			<div class="col-xs-4 col-md-4 nop">
                           				<img class="actorImage img-circle img-responsive" id=""
											src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
											alt="{{usr.fname}} {{usr.lname}}"/>
                           			</div>
                           			<div class="col-xs-8 col-md-8 nop">
                           				<div class="row no_margin">
                           					<span>Cisco Inc.</span>
                           				</div>
                           			</div>
                           		</div>
                      		</div>
                  		</div>
            	
            </div>
         </div>
     </li>
    <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
     <li class="challenge xsplr col-xs-4 col-lg-4" data-id="1">
		<div class="thumbnail">
			<img class="banner" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
            	<div class="row no_margin detailsWrap">
            		<div class="col-xs-10 col-md-10 nop">
            			<div class="row no_margin">
            				<a class="list-group-item-heading title clampIt lead" data-clmap="1">
            				Product title asasa ansbans nasbnas nabsnas nasbansb nabsnasb absnasbnasb
            				</a>
                			<small class="list-group-item-text description clampIt" data-clmap="3">
                        		Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    		</small>
            			</div>
            			<div class="row no_margin">
            				<span>Starting from :</span>
            				<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
							<span>Ending on :</span>
							<time datetime="2014-07-20">
								<span class="day">4</span>
								<span class="month">Jul</span>
								<span class="year">2014</span>
							</time>
            			</div>
            			<div class="row no_margin">
            				<ul class="challengeTagListWrap">
            					<li class="tag"><span class="badge">Java</span></li>
            					<li class="tag"><span class="badge">PHP</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="badge">Perl</span></li>
            					<li class="tag"><span class="more">...</span></li>
            				</ul>
            				
            			</div>
                    </div>
                    <div class="col-xs-2 col-md-2 nop text-center fwb">
            			<div class="row no_margin">
            				<i class="fa fa-angle-down"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-star-o fa-fw"></i>
            			</div>
            			<div class="row no_margin">
            				<i class="fa fa-play fa-fw"></i>
            			</div>
            			<div class="row no_margin">
                        	42 <i class="fa fa-eye"></i>
                        </div>
                        <div class="row no_margin">
                        	42 <i class="fa fa-cloud-upload"></i>
                        </div>
                    </div>
            	</div>
            	<div class="row">
                        <div class="col-xs-3 col-md-3 nop">
                        	<small>13 Mins Agao</small>
                       </div>
                       <div class="col-xs-9 col-md-9 nop">
                           <div class="row no_margin pull-right">
                           		<div class="col-xs-4 col-md-4 nop">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<span>Cisco Inc.</span>
                           			</div>
                           		</div>
                           </div>
                      </div>
                  </div>
            </div>
         </div>
     </li>
 </ul>