{% load i18n %}
<div class="container-fluid nop">
	<ul class="list-group" id="challenges">
		<li class="row challenge favourite">
			<div class="col-xs-12 col-md-12 nop">
				<div class="row">
					<div class="col-xs-2 col-md-2 nop bannerWrap">
						<img class="banner img-rounded img-responsive" src="http://placehold.it/90x70/000/fff" alt="" />
					</div>
					<div class="col-xs-10 col-md-10 nop spt details">
						<div class="row summery">
							<div class="col-xs-11 col-md-11 nop">
								<h3 class="title">
									<a href="#">
										<span class="elpse">This is a Test And Can't be removed</span>
									</a>
								</h3>
							</div>
							<div class="col-xs-1 col-md-1 nop _mls">
								<a href="#"><i class="fa fa-fw fa-star-o pull-right fav"></i></a>
							</div>
						</div>
						<div class="row mtsl tags">
							<div class="col-xs-6 col-md-6 nop">
							<ul class="tags">
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            				</ul>
							</div>
						</div>
						<div class="row no_margin pull-right metaInfo _mtxxl">
							<div class="container-fluid nop time">
								<small class="elpse"><span>Created</span> <span>19 Minutes Ago</span></small>
							</div>
							<div class="container-fluid nop mtxs">
								<div class="col-xs-2 col-md-2 nop mrs">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<a href="#">Cisco Inc.</a>
                           			</div>
                           		</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</li>
		<li class="row challenge loos">
			<div class="col-xs-12 col-md-12 nop">
				<div class="row">
					<div class="col-xs-2 col-md-2 nop bannerWrap">
						<img class="banner img-rounded img-responsive" src="http://placehold.it/90x70/000/fff" alt="" />
					</div>
					<div class="col-xs-10 col-md-10 nop spt details">
						<div class="row summery">
							<div class="col-xs-11 col-md-11 nop">
								<h3 class="title">
									<a href="#">
										<span class="elpse">This is a Test And Can't be removed</span>
									</a>
								</h3>
							</div>
							<div class="col-xs-1 col-md-1 nop _mls">
								<a href="#"><i class="fa fa-fw fa-star-o pull-right fav"></i></a>
							</div>
						</div>
						<div class="row mtsl tags">
							<div class="col-xs-6 col-md-6 nop">
							<ul class="tags">
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            				</ul>
							</div>
						</div>
						<div class="row no_margin pull-right metaInfo _mtxxl">
							<div class="container-fluid nop time">
								<small class="elpse"><span>Created</span> <span>19 Minutes Ago</span></small>
							</div>
							<div class="container-fluid nop mtxs">
								<div class="col-xs-2 col-md-2 nop mrs">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<a href="#">Cisco Inc.</a>
                           			</div>
                           		</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</li>
		<li class="row challenge win">
			<div class="col-xs-12 col-md-12 nop">
				<div class="row">
					<div class="col-xs-2 col-md-2 nop bannerWrap">
						<img class="banner img-rounded img-responsive" src="http://placehold.it/90x70/000/fff" alt="" />
					</div>
					<div class="col-xs-10 col-md-10 nop spt details">
						<div class="row summery">
							<div class="col-xs-11 col-md-11 nop">
								<h3 class="title">
									<a href="#">
										<span class="elpse">This is a Test And Can't be removed</span>
									</a>
								</h3>
							</div>
							<div class="col-xs-1 col-md-1 nop _mls">
								<a href="#"><i class="fa fa-fw fa-star-o pull-right fav"></i></a>
							</div>
						</div>
						<div class="row mtsl tags">
							<div class="col-xs-6 col-md-6 nop">
							<ul class="tags">
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            				</ul>
							</div>
						</div>
						<div class="row no_margin pull-right metaInfo _mtxxl">
							<div class="container-fluid nop time">
								<small class="elpse"><span>Created</span> <span>19 Minutes Ago</span></small>
							</div>
							<div class="container-fluid nop mtxs">
								<div class="col-xs-2 col-md-2 nop mrs">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<a href="#">Cisco Inc.</a>
                           			</div>
                           		</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</li>
		<li class="row challenge submitted">
			<div class="col-xs-12 col-md-12 nop">
				<div class="row">
					<div class="col-xs-2 col-md-2 nop bannerWrap">
						<img class="banner img-rounded img-responsive" src="http://placehold.it/90x70/000/fff" alt="" />
					</div>
					<div class="col-xs-10 col-md-10 nop spt details">
						<div class="row summery">
							<div class="col-xs-11 col-md-11 nop">
								<h3 class="title">
									<a href="#">
										<span class="elpse">This is a Test And Can't be removed</span>
									</a>
								</h3>
							</div>
							<div class="col-xs-1 col-md-1 nop _mls">
								<a href="#"><i class="fa fa-fw fa-star-o pull-right fav"></i></a>
							</div>
						</div>
						<div class="row mtsl tags">
							<div class="col-xs-6 col-md-6 nop">
							<ul class="tags">
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            				</ul>
							</div>
						</div>
						<div class="row no_margin pull-right metaInfo _mtxxl">
							<div class="container-fluid nop time">
								<small class="elpse"><span>Created</span> <span>19 Minutes Ago</span></small>
							</div>
							<div class="container-fluid nop mtxs">
								<div class="col-xs-2 col-md-2 nop mrs">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<a href="#">Cisco Inc.</a>
                           			</div>
                           		</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</li>
		<li class="row challenge">
			<div class="col-xs-12 col-md-12 nop">
				<div class="row">
					<div class="col-xs-2 col-md-2 nop bannerWrap">
						<img class="banner img-rounded img-responsive" src="http://placehold.it/90x70/000/fff" alt="" />
					</div>
					<div class="col-xs-10 col-md-10 nop spt details">
						<div class="row summery">
							<div class="col-xs-11 col-md-11 nop">
								<h3 class="title">
									<a href="#">
										<span class="elpse">This is a Test And Can't be removed</span>
									</a>
								</h3>
							</div>
							<div class="col-xs-1 col-md-1 nop _mls">
								<a href="#"><i class="fa fa-fw fa-star-o pull-right fav marked"></i></a>
							</div>
						</div>
						<div class="row mtsl tags">
							<div class="col-xs-6 col-md-6 nop">
							<ul class="tags">
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            					<li class="tag"><a href="#"><small class="badge">Java</small></a></li>
            				</ul>
							</div>
						</div>
						<div class="row no_margin pull-right metaInfo _mtxxl">
							<div class="container-fluid nop time">
								<small class="elpse"><span>Created</span> <span>19 Minutes Ago</span></small>
							</div>
							<div class="container-fluid nop mtxs">
								<div class="col-xs-2 col-md-2 nop mrs">
                           			<img class="actorImage img-circle img-responsive" id=""
									src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
									alt="{{usr.fname}} {{usr.lname}}"/>
                           		</div>
                           		<div class="col-xs-8 col-md-8 nop">
                           			<div class="row no_margin">
                           				<a href="#">Cisco Inc.</a>
                           			</div>
                           		</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>