{% extends 'individual/feed/_base.html' %}
{% load i18n %}
{% block boot_starp_css_media %}
{% endblock boot_starp_css_media %}
{% block css_media %}
    {% include "individual/feed/_media.html"%}
{% endblock css_media %}
{% block title %}
	<title>{% trans "Challenge" %} - {{usr.fname}} {{usr.lname}} - UIMirror</title>
{% endblock title %}
{% block content %}
	{% include "individual/feed/_top.html"%}
	{% include "individual/feed/_sub_top.html"%}
	<div id="wrapper" class="active">
	  <!-- Chat Left PageLet -->
      {% include "individual/common/_chat.html"%}    
      <!-- Page content -->
      <div id="page-content-wrapper">
        	<div class="page-content inset">
          		<div class="row">
					<div class="col-md-7 no_padding">
						<div class="well well-lg contentHolder nop challengeFeedWrap">
							<div id="challengeIndividualFeedPageLet">
    							{% include "individual/feed/_stream.html"%}
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-2 visible-md visible-lg">
						Addd
					</div>
				</div>
			</div>
       	</div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block script_media %}
	{% include "individual/feed/_script_media.html" %}
{% endblock script_media %}