<div class="extrainfo">
	<div title="false" id="uim_abtme_prv_wr" class="hidden" 
			data-old-pr-id="{{:current.privacy._id}}" data-old-pr-class="{{:current.privacy._class}}"
			data-old-pr-value="{{:current.privacy.value}}" data-old-pr-title="{{:current.privacy.title}}"></div>
</div>
<div class="name">About Me</div>
<div class="extrarow">
	<p class="hidden oldval textP aboutMe" data-old-value-container = "true">{{:current.aboutme}}</p>
	<textarea style="resize: none;" id="uim_abtme_i_edit" class="aboutMeEdit" autofocus="autofocus" placeholder="What about You?" >{{:current.aboutme}}</textarea>
</div>
<hr class="line-two mt10 mb10" data-edit-seprator="true">
<div class="clearfix">
	<div class="f-right">
		<a class="_uibtn _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24 f-right mr10 ml10 edit_cancel"
			href="#" id="_uim_edt_cancel">Cancel</a>
		<a class="_uibtn _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24 edit_save"
			href="#" id="_uim_edt_save">Save</a>
	</div>
</div>
