<div class="extrainfo hidden">
	<ul class="extrawrap">
		<li class="action txt uimtpd" id="editaboutme" title="Click to Edit"><a href="#">Edit</a></li>
		<li class="action prvactionWrap uimtpd" data-pr-class="{{:privacy._class}}"
			data-pr-id="{{:privacy._id}}" data-title="{{:privacy.title}}"
			data-value="{{:privacy.value}}" title="{{:privacy.title}}">
			<a class="selected"> 
				<i class="im_s_visibility im_s_v_{{:privacy._class}}"></i>
			</a>
		</li>
	</ul>
</div>
<div class="name">About Me</div>
<div class="extrarow">
	<p class="aboutMe">{{:aboutme}}</p>
</div>
