{% load i18n %}
<div class="row">
	<div class="container-fluid nop">
		<div id="challengeIndividualLeftReminderPageLet">
			<div class="hasReminder">
				<div class="reminders mtsl">
					<div class="container-fluid nop text-center">
						<h4 class="bbd"><i class="fa fa-fw fa-clock-o"></i> Going To End</h4>
					</div>
					<div class="container-fluid nop">
						<ul id="challengeReminders" class="list-group">
							<li class="reminder">
								<h6 class="nom">
									<a href="#">
										<span class="elpse">
											Test Is a Test It should be Regression, Not like just Browsers.
										</span>
									</a>
								</h6>
							</li>
							<li class="reminder"><h6 class="nom"><a href="#"><span class="elpse">Test</span></a></h6></li>
							<li class="reminder"><h6 class="nom"><a href="#"><span class="elpse">Test</span></a></h6></li>
							<li class="reminder"><h6 class="nom"><a href="#"><span class="elpse">Test</span></a></h6></li>
							<li class="reminder seAll"><a class="btn btn-success btn-xs">See All</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Tags View -->
<div class="row">
	<div class="container-fluid nop">
		<div id="challengeIndividualLeftFilterByTagPageLet">
			<div class="hasFilterByTag">
				<div class="tags mtsl">
					<div class="container-fluid nop text-center">
						<h4 class="bbd"><i class="fa fa-fw fa-filter"></i> Filter By Tag</h4>
					</div>
					<div class="container-fluid nop">
						<ul id="challengeFilterTags" class="challengeTags">
							<li class="tag">
								<small class="badge">Java <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Java <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Filter By Benefits -->
<div class="row">
	<div class="container-fluid nop">
		<div id="challengeIndividualLeftFilterByBenefitPageLet">
			<div class="hasFilterByBenefit">
				<div class="tags mtsl">
					<div class="container-fluid nop text-center">
						<h4 class="bbd"><i class="fa fa-fw fa-filter"></i> Filter By Benefit</h4>
					</div>
					<div class="container-fluid nop">
						<ul id="challengeFilterBenefits" class="challengeTags">
							<li class="tag">
								<small class="badge">Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Favourite Lists -->
<div class="row">
	<div class="container-fluid nop">
		<div id="challengeIndividualLeftFavTags">
			<div class="hasFavTags">
				<div class="tags mtsl">
					<div class="container-fluid nop text-center">
						<h4 class="heading bbd"><i class="fa fa-fw fa-star-o fwb fav"></i> Favorite Tags<a class="sub"><sub>Click To Modify</sub></a></h4>
					</div>
					<div class="container-fluid nop">
						<ul id="challengeFilterFavorites" class="challengeTags">
							<li class="tag">
								<small class="badge">Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
							<li class="tag">
								<small class="badge">Part Time Job <sup><i class="fa fa-fw fa-times"></i></sup></small>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>