{% load i18n %}
<div class="container-fluid nop">
	<!-- Profile Meta Section with actions -->
	<div class="row profileMetaActions" id="profileMetaActions">
		<div class="col-md-4 col-xs-4 nop profile">
			<h1 class="name elpse nom">Jayaram Pradhan</h1>
			<sub class="toggle-summary-wrap">
				<a class="toggle-summary" data-expanded="True"><small>less info</small></a>
			</sub>
		</div>
		<div class="col-md-2 col-xs-2">
			
		</div>
		<div class="col-md-1 col-xs-1 nop metaAction">
			<div class="col-md-6 col-xs-6 nop"><a>edit</a></div>
			<div class="col-md-6 col-xs-6 nop"><a>Groups</a></div>
		</div>
		<div class="col-md-1 col-xs-1 metaAction">
			<a>privileges</a>
		</div>
		<div class="col-md-1 col-xs-1 nop metaAction">
			<a>preferences</a>
		</div>
	</div>
	
	<!-- Profile Short Summary -->
	<div class="row profileShortSummery" id="profileShortSummery">
		<div class="data container-fluid nop">
			<div class="col-md-1 col-xs-1 nop">
				<img class="actorImage img-circle img-responsive" id=""
						src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
						alt="{{usr.fname}} {{usr.lname}}"/>
			</div>
			<div class="col-md-2 col-xs-2 nop">
				<div class="row">
					<div class="row">
						<span class="fwb">673</span>&nbsp; Reputations
					</div>
					<div class="row mtxs">
						<span><i class="fa fa-fw fa-circle bronze badgeAward"></i>4</span>
						<span><i class="fa fa-fw fa-circle silver badgeAward"></i>12</span>
						<span>Awards</span>
					</div>
				</div>
			</div>
			<!-- Profile Short Bio -->
			<div class="col-md-4 col-xs-4 nop actor">
				<div class="row">
					<div class="col-md-2 col-xs-2 nop">
						<i class="grayOut">Bio</i>
					</div>
					<div class="col-md-10 col-xs-10 nop details">
						<div class="row">
							<div class="col-md-4 col-xs-4 nop">
								<span>Website</span>
							</div>
							<div class="col-md-8 col-xs-8 nop">
								<div class="row">
									<a class="elpse"><span>helponjee.com</span></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-4 nop">
								<span>Location</span>
							</div>
							<div class="col-md-8 col-xs-8 nop">
								<a class="elpse">Bangalore, India</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Profile Short Visits -->
			<div class="col-md-4 col-xs-4 nop actor">
				<div class="row">
					<div class="col-md-2 col-xs-2 nop">
						<i class="grayOut">Visits</i>
					</div>
					<div class="col-md-10 col-xs-10 nop details">
						<div class="row">
							<div class="col-md-4 col-xs-4 nop">
								<span>Member For</span>
							</div>
							<div class="col-md-8 col-xs-8 nop">
								<span class="elpse grayOut">2 years, 3 Months</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-4 nop">
								<span>Seen</span>
							</div>
							<div class="col-md-8 col-xs-8 nop">
								<span class="elpse supernova">47 Mins Agao</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- Profile Summary -->
	<div class="row profileSummery" id="profileSummery">
		<div class="data container-fluid nop">
			<div class="col-md-2 col-xs-2 nop">
				<div class="row">
					<img class="actorImage img-circle img-responsive" id=""
						src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.120.120/p120x120/1795689_10152214496584911_1020271541_n.jpg"
						alt="{{usr.fname}} {{usr.lname}}"/>
				</div>
				<div class="row text-center reputation">
					<span class="fwb db">673</span>
					Reputations
				</div>
				<div class="row text-center awards">
					<span><i class="fa fa-fw fa-circle bronze badgeAward"></i>4</span>
					<span><i class="fa fa-fw fa-circle silver badgeAward"></i>12</span>
				</div>
			</div>
			<div class="col-md-5 col-xs-5 nop actor">
				<div class="row">
					<div class="col-md-2 col-xs-2 nop">
						<i class="grayOut">Bio</i>
					</div>
					<div class="col-md-10 col-xs-10 nop details">
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>Website</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<a>Website</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>location</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<span>Bangalore, India</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>Age</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<span>26</span>
							</div>
						</div>
					</div>
				</div>
				<!-- Visits -->
				<div class="row">
					<div class="col-md-2 col-xs-2 nop">
						<i class="grayOut">Visits</i>
					</div>
					<div class="col-md-10 col-xs-10 nop details">
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>member for</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<span class="elpse grayOut">2 years, 3 Months</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>seen</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<span class="elpse supernova">47 Mins Agao</span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Status -->
				<div class="row">
					<div class="col-md-2 col-xs-2 nop">
						<i class="grayOut">stats</i>
					</div>
					<div class="col-md-10 col-xs-10 nop details">
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>profile views</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<span class="elpse">94</span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Contacts -->
				<div class="row">
					<div class="col-md-2 col-xs-2 nop">
						<i class="grayOut">Contact</i>
					</div>
					<div class="col-md-10 col-xs-10 nop details">
						<div class="row">
							<div class="col-md-3 col-xs-3 nop">
								<span>email</span>
							</div>
							<div class="col-md-9 col-xs-9 nop">
								<span class="elpse">jayaramimca@gmail.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- User About me Note -->
			<div class="col-md-5 col-xs-5 actorAboutMe nop ">
				<p>(your <i>about me</i> is currently blank)</p>
				<p><a href="#">click here to edit</a></p>
			</div>
		</div>
	</div>
	
</div>