{% load i18n %}
{#Account Settings Page#}
<div class="row no-margin">
	<div class="row mbxs mlxl uimSetingLeftPad mtl">
		<span class="list-inline settingsText">{% blocktrans %}Display My Name As{% endblocktrans %} </span>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm selectedVal dropdown-toggle" data-toggle="dropdown"
				data-old="{{social.account.displaynameas}}" data-current="{{social.account.displaynameas}}">
			    {% for nameformat in SOCIAL_ACCOUNT_DISPLAYNAME_OPTNS %}
			    	{% if nameformat.id == social.account.displaynameas%} 
						{{nameformat.name}}
					{% endif %}
				{% endfor %}
			</button>
			<button type="button" class="btn btn-default dropdown-toggle btn-sm"
				data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				{% for nameformat in SOCIAL_ACCOUNT_DISPLAYNAME_OPTNS %}
					{% if nameformat.id != social.account.displaynameas%}
						<li id="uim_social_account_name_format_wrap_{{forloop.counter}}">
							<a href="#" data-val="{{nameformat.id}}">{{nameformat.name}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad mtl">
		<span class="list-inline settingsText">{% blocktrans %}Show Me Date in {% endblocktrans %} </span>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm selectedVal dropdown-toggle" data-toggle="dropdown"
				data-old="{{social.account.dateformat}}" data-current="{{social.account.dateformat}}">
			    {% for dateformat in SOCIAL_ACCOUNT_DISPLAYDATE_FORMAT_OPTNS %}
			    	{% if dateformat.id == social.account.dateformat%} 
						{{dateformat.name}}
					{% endif %}
				{% endfor %}
			</button>
			<button type="button" class="btn btn-default dropdown-toggle btn-sm"
				data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				{% for dateformat in SOCIAL_ACCOUNT_DISPLAYDATE_FORMAT_OPTNS %}
					{% if dateformat.id != social.account.dateformat%}
						<li id="uim_social_account_dateformat_wrap_{{forloop.counter}}">
							<a href="#" data-val="{{dateformat.id}}">{{dateformat.name}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad">
		<a class="list-inline settingsText">{% blocktrans %}Download a local copy of my profile{% endblocktrans %}.</a>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad">
		<a class="list-inline settingsText">{% blocktrans %}Delete my Profile{% endblocktrans %}.</a>
		<p class="row">
			<small>{% blocktrans %}By Clicking you will be inactive{% endblocktrans %}.</small>
			<small>{% blocktrans %}However, when you want to come back, simply sign on your content will be restored{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad">
		<a class="list-inline settingsText" onclick="$('#lgnActivityModal').modal('show');" href="#">{% blocktrans %}View My Login Session{% endblocktrans %}.</a>
	</div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="lgnActivityModal" 
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% blocktrans %}Your Last 10 Login Sessions{% endblocktrans %}</h4>
      </div>
      <div class="modal-body center-block">
      	<div class="row no-margin">
      		<div class="col-md-2 no_padding pull-right">
	  			<a class="">End All Active Sessions</a>
	  		</div>
      	</div>
        <ul class="list-group">
  			<li class="list-group-item">
  				<div class="row no-margin">
  					<div class="col-md-2 no_padding pull-right">
	  					<a class="">End Session</a>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>127.0.0.1</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Bangalore, Ind</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Iphone</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Currently Acteive</span>
	  				</div>
	  				
  				</div>
  			</li>
  			<li class="list-group-item">
  				<div class="row no-margin">
	  				<div class="col-md-2 no_padding">
	  					<span>127.0.0.1</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Bangalore, Ind</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Iphone</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>24 Hours Ago</span>
	  				</div>
	  				
  				</div>
  			</li>
  			<li class="list-group-item">
  				<div class="row no-margin">
	  				<div class="col-md-2 no_padding">
	  					<span>127.0.0.1</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Bangalore, Ind</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Iphone</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>48 Hours Ago</span>
	  				</div>
  				</div>
  			</li>
  			<li class="list-group-item">
  				<div class="row no-margin">
	  				<div class="col-md-2 no_padding">
	  					<span>127.0.0.1</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Bangalore, Ind</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>Iphone</span>
	  				</div>
	  				<div class="col-md-2 no_padding">
	  					<span>3 Days Ago</span>
	  				</div>
	  				
  				</div>
  			</li>
		</ul>
      </div>
    </div>
  </div>
</div>