{% load i18n %}
{#Chat Settings Page#}
<div class="row no-margin">
	<div class="row mbxs mlxl uimSetingLeftPad mtl">
		<a class="list-inline settingsText">{% blocktrans %}Download a local copy of my profile{% endblocktrans %}.</a>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad">
		<a class="list-inline settingsText">{% blocktrans %}Delete my Profile{% endblocktrans %}.</a>
		<!-- # TODO : Update this latter-->
		<p class="row">
			<small>{% blocktrans %}By Clicking you will be inactive{% endblocktrans %}.</small>
			<br/>
			<small>{% blocktrans %}However, when you want to come back, simply sign on your content will be restored{% endblocktrans %}.</small>
		</p>
	</div>
</div>