{% load i18n %}
<!-- Sidebar -->
<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav" id="sidebar">     
	  <li><a class="active">{% blocktrans %}Chat{% endblocktrans %}<i class="sub_icon fa fa-comments-o fa-fw fa-2x"></i></a></li>
	  <li><a>{% blocktrans %}Visibility{% endblocktrans %}<i class="sub_icon fa fa-eye fa-fw fa-2x"></i></a></li>
	  <li><a>{% blocktrans %}Image{% endblocktrans %}<i class="sub_icon fa fa-file-image-o fa-fw fa-2x"></i></a></li>
	  <li><a>{% blocktrans %}Post{% endblocktrans %}<i class="sub_icon fa fa-fax fa-fw fa-2x"></i></a></li>
	  <li><a>{% blocktrans %}Spread{% endblocktrans %}<i class="sub_icon fa fa-share fa-fw fa-2x"></i></a></li>
	  <li><a>{% blocktrans %}Password{% endblocktrans %}<i class="sub_icon fa fa-lock fa-fw fa-2x"></i></a></li>
	</ul>
 </div>