{% load i18n %}
{#Chat Settings Page#}
<div class="row no-margin">
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.updates.showlocation}}" 
					{% if social.updates.showlocation %}checked{% endif %} data-current="{{social.updates.showlocation}}">
			</form>
			{% blocktrans %}Show My Location in my updates{% endblocktrans %}
  		</label>
  		<p>
  			<small>{% blocktrans %}This allows you to control your location in your updates{% endblocktrans %}.</small>
			<small>{% blocktrans %}By selecting People can see the location from where you post your update{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.updates.showdevice}}" 
					{% if social.updates.showdevice %}checked{% endif %} data-current="{{social.updates.showdevice}}">
			</form>
			{% blocktrans %}Show My Device in my updates{% endblocktrans %}
  		</label>
  		<p>
  			<small>{% blocktrans %}This allows you to control your device in your updates{% endblocktrans %}.</small>
			<small>{% blocktrans %}By selecting People can see the device from which you post your update{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.updates.noupdatesfrom.enable}}"
					{% if social.updates.noupdatesfrom.enable %}checked{% endif %} data-current="{{social.updates.noupdatesfrom.enable}}">
			</form>
    		{% blocktrans %}Don't Show me Updates from specific people{% endblocktrans %}
  		</label>
  		<p>
			<small>{% blocktrans %}This allows you to create a list of user from whom you don't want to get updates{% endblocktrans %}.</small>
			<small>{% blocktrans %}By Selecting You have to make a list of users whom you don't want to get updates{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.updates.noupdatesto.enable}}"
					{% if social.updates.noupdatesto.enable %}checked{% endif %} data-current="{{social.updates.noupdatesto.enable}}">
			</form>
    		{% blocktrans %}Don't Show My Updates to specific people{% endblocktrans %}
  		</label>
  		<p>
			<small>{% blocktrans %}This allows you to create a list of user to whom your Updates will not be published{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad">
		<span class="list-inline settingsText">{% blocktrans %}Allow to Spread my updates from{% endblocktrans %} </span>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm selectedVal dropdown-toggle" data-toggle="dropdown"
				data-old="{{social.updates.spreader.id}}" data-current="{{social.updates.spreader.id}}">
				{% for spreader in SOCIAL_UPDATE_SPREAD_OPTNS %}
			    	{% if spreader.id == social.updates.spreader.id%} 
						{{spreader.name}}
					{% endif %}
				{% endfor %}
			</button>
			<button type="button" class="btn btn-default dropdown-toggle btn-sm"
				data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				{% for spreader in SOCIAL_UPDATE_SPREAD_OPTNS %}
					{% if spreader.id != social.updates.spreader.id%}
						<li id="uim_social_update_who_can_spread_wrap_{{forloop.counter}}">
							<a href="#" data-val="{{spreader.id}}">{{spreader.name}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>