{% load i18n %}
{#Chat Settings Page#}
<div class="row no-margin">
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.visibility.observer}}" 
					{% if social.visibility.observer %}checked{% endif %} data-current="{{social.visibility.observer}}">
			</form>
			{% blocktrans %}Make me an observer{% endblocktrans %}
  		</label>
  		<p>
  			<small>{% blocktrans %}This allows you to make yourself invisible to other people{% endblocktrans %}.</small>
			<small>{% blocktrans %}By selecting you will not able to post your updates,  you can't chat with other user, you can't promote and  You can't spread other's update{% endblocktrans %}.</small>
			<small>{% blocktrans %}However you will be only able to see other's update{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.visibility.showmetorechable}}"
					{% if social.visibility.showmetorechable %}checked{% endif %} data-current="{{social.visibility.showmetorechable}}">
			</form>
    		{% blocktrans %}Show me to my Reachable Users {% endblocktrans %}
  		</label>
  		<p>
			<small>{% blocktrans %}This allows to make visible to your Reachable Users{% endblocktrans %}.</small>
			<small>{% blocktrans %}By Selecting you will be able to share your updates to your Reachable users,  People who is not in your Reachable list can't find you{% endblocktrans %}.</small>
			<small>{% blocktrans %}However you will be able to search other unknown people{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="checkbox">
  		<label class="settingsText">
  			<form class="form-horizontal" 
  				enctype="application/x-www-form-urlencoded" method="post" id="chatSettingDisplayLocForm" 
  				action="#"
  				data-unsaved="">
  				{% csrf_token %}
				<input type="checkbox" data-old="{{social.visibility.showemtofollowers}}"
					{% if social.visibility.showemtofollowers %}checked{% endif %} data-current="{{social.visibility.showemtofollowers}}">
			</form>
    		{% blocktrans %}Show me to my Followers {% endblocktrans %}
  		</label>
  		<p>
			<small>{% blocktrans %}This allows to make visible to your Followers{% endblocktrans %}.</small>
			<small>{% blocktrans %}By Selecting followers will able to see your updates{% endblocktrans %}.</small>
		</p>
	</div>
	<div class="row mbxs mlxl uimSetingLeftPad">
		<span class="list-inline settingsText">{% blocktrans %}Who Can Reach Me{% endblocktrans %} </span>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm selectedVal dropdown-toggle" data-toggle="dropdown"
				data-old="{{social.visibility.whocanreachme.id}}" data-current="{{social.visibility.whocanreachme.id}}">
			    {% for reachable in SOCIAL_VISIBILITY_RECHABLES %}
			    	{% if reachable.id == social.visibility.whocanreachme.id%} 
						{{reachable.name}}
					{% endif %}
				{% endfor %}
			</button>
			<button type="button" class="btn btn-default dropdown-toggle btn-sm"
				data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				{% for reachable in SOCIAL_VISIBILITY_RECHABLES %}
					{% if reachable.id != social.visibility.whocanreachme.id%}
						<li id="uim_social_visiility_who_can_reach_wrap_{{forloop.counter}}">
							<a href="#" data-val="{{reachable.id}}">{{reachable.name}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>