{% extends 'profile/settings/_base.html' %}
{% load i18n %}
{% block boot_starp_css_media %}
{% endblock boot_starp_css_media %}
{% block css_media %}
    {% include "profile/settings/social/_media.html"%}
{% endblock css_media %}
{% block title %}
	<title>{% trans "Set Up" %} - {{usr.fname}} {{usr.lname}} - UIMirror</title>
{% endblock title %}
{% block content %}
	{% include "profile/settings/_top.html"%}
	{% include "profile/settings/social/_sub_top.html"%}
	<div id="wrapper" class="active">
	  <!-- Chat Left PageLet -->
      {% include "common/_chat.html"%}    
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="page-content inset">
          <div class="row">
			<div class="col-md-7 no_padding">
				<div class="well well-lg contentHolder">
					{% if social.chat%} 
						{% include "profile/settings/social/_chat.html"%}
					{% endif %}
					{% if social.visibility%} 
						{% include "profile/settings/social/_visibility.html"%}
					{% endif %}
					{% if social.snap%} 
						{% include "profile/settings/social/_snap.html"%}
					{% endif %}
					{% if social.updates%} 
						{% include "profile/settings/social/_update.html"%}
					{% endif %}
					{% if social.account%} 
						{% include "profile/settings/social/_account.html"%}
					{% endif %}
				</div>
			</div>
			<div class="col-md-10 col-md-2 visible-md visible-lg">
				Addd
			</div>
		</div>
       </div>
      </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block script_media %}
	{% include "profile/settings/social/_script_media.html" %}
{% endblock script_media %}