{% load i18n %}
<!-- Login Header -->
<div class="row container-fluid navbar-fixed-top headWrap visible-lg visible-md hidden-xs hidden-sm">
	<div class="container">
		<ul class="nav nav-tabs uimLoginNavWrap">
			<li class="active"><a href="#">{% blocktrans %}Login{% endblocktrans %}</a></li>
			<li><a href="#">{% blocktrans %}Why UIMirror{% endblocktrans %}?</a></li>
			<li><a href="#">{% blocktrans %}Suggest Us{% endblocktrans %}</a></li>
			<li class="pull-right"><select id="lang-chooser"
				class="lang-chooser lh-24 f13" name="lang-chooser">
					<option value="en" selected="selected">English (United
						States)‬</option>
					<option value="ka">‪ქართული‬</option>
					<option value="hy">‪հայերեն‬</option>
					<option value="mr">‪मराठी‬</option>
					<option value="hi">‪हिन्दी‬</option>
					<option value="bn">‪বাংলা‬</option>
					<option value="gu">‪ગુજરાતી‬</option>
					<option value="ta">‪தமிழ்‬</option>
					<option value="te">‪తెలుగు‬</option>
					<option value="kn">‪ಕನ್ನಡ‬</option>
					<option value="ml">‪മലയാളം‬</option>
					<option value="si">‪සිංහල‬</option>
					<option value="th">‪ไทย‬</option>
					<option value="lo">‪ລາວ‬</option>
					<option value="km">‪ខ្មែរ‬</option>
					<option value="ko">‪한국어‬</option>
			</select></li>
		</ul>
	</div>
</div>