{% extends '_base.html' %}
{% load i18n %}

{% block css_media %}
    {% include "reset/_media.html"%}
{% endblock css_media %}
{% block title %}
	<title>{% trans "Password Reset" %} - UIMirror</title>
{% endblock title %}
{% block content %}
	{% include "_theme.html" %}
	<div class="recovery main content clearfix resetpwdmain" id="_ui_recovery_reset">
		<div class="mb10 card">
			<span>Create a New Password</span>
			<span class="db f10">Please choose a strong password.</span>
		</div>
		
		<div class="mb10 card">
			<form>
				{% csrf_token %}
				<!-- Profile Pic of the user -->
				<img src="{{ STATIC_URL }}images/male_dflt_psnap.png" alt="{% blocktrans %}Profile Pic{% endblocktrans %}" class="profile-img"/>
				<!-- This needs to be stylish -->
				<fieldset class="inputs">
					<label for="password1" class="db">Type a Password</label>
					<input type="password" placeholder="Type Password" id="password1" class="db"/>
					<span class="db"></span>
					<label for="password2">Re-Type a Password</label>
					<input type="password" placeholder="Re Type Password" id="password2" class="db"/>
				</fieldset>
				<!-- This needs to be stylish -->
				<fieldset id="actions">
    				<span class="dib">
    					<a class="_uibtn lh-30 _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24" role="button" href="#" id="_ui_first_time_prf_up_snap">{% trans "Reset" %}</a>
    				</span>
    			</fieldset>
			</form>
		</div>
		
	</div>
{% endblock content %}

{% block script_media %}
	{% include "reset/_script_media.html" %}
{% endblock script_media %}