{#User Message Pop Up#}
{% load i18n %}
<ul class="dropdown-menu flyOutContentWrap userMessageDrop">
	<li class="flyOutContent flyOutMessage">
		<div class="">
			<div class="row">
				<div class="col-md-2 no_padding">
					<img class="uimHeaderNotiActorSnaps img-circle img-responsive"
						id="actorSnapOrginal"
						src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
						alt="{{usr.fname}} {{usr.lname}}" />
				</div>
				<div class="col-md-10 xsplr fs12 nop">
					<span class="fwb">{{usr.fname}} {{usr.lname}}</span>
					<p class="text-muted small no_tb_margin mbxs">This is a
						Test......</p>
					<p class="text-muted small no_tb_margin mbxs">19 Minutes Ago</p>
				</div>
			</div>
		</div>
	</li>
	<li class="flyOutContent flyOutMessage">
		<div class="">
			<div class="row">
				<div class="col-md-2 no_padding">
					<img class="uimHeaderNotiActorSnaps img-circle img-responsive"
						id="actorSnapOrginal"
						src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
						alt="{{usr.fname}} {{usr.lname}}" />
				</div>
				<div class="col-md-10 xsplr fs12 nop">
					<span class="fwb">{{usr.fname}} {{usr.lname}}</span>
					<p class="text-muted small no_tb_margin mbxs">This is a
						Test......</p>
					<p class="text-muted small no_tb_margin mbxs">19 Minutes Ago</p>
				</div>
			</div>
		</div>
	</li>
	<li class="nop">
		<div class="">
			<div class="row">
				<div class="col-md-12 no_padding">
					<button type="button" class="btn btn-success btn-xs mxxlwd">{% blocktrans %}Find More Messages{% endblocktrans %}.</button>
				</div>
			</div>
		</div>
	</li>
</ul>