{#User Reminder Pop Up#}
{% load i18n %}
<ul class="dropdown-menu flyOutContentWrap userReminderDrop">
	<li class="flyOutContent flyOutReminder">
		<div class="">
			<div class="row">
				<div class="col-md-12 xsplr fs12 nop">
					<span class="fwb small no_tb_margin mbxs">Attend Interviews</span>
					<p class="text-muted small no_tb_margin mbxs">19 Minutes Ago</p>
				</div>
			</div>
		</div>
	</li>
	<li class="flyOutContent flyOutReminder">
		<div class="">
			<div class="row">
				<div class="col-md-12 xsplr fs12 nop">
					<span class="fwb small no_tb_margin mbxs">Attend Interviews</span>
					<p class="text-muted small no_tb_margin mbxs">19 Minutes Ago</p>
				</div>
			</div>
		</div>
	</li>
	<li class="nop">
		<div class="">
			<div class="row">
				<div class="col-md-12 no_padding">
					<button type="button" class="btn btn-success btn-xs mxxlwd">{% blocktrans %}See All Upcoming Schedules{% endblocktrans %}.</button>
				</div>
			</div>
		</div>
	</li>
</ul>