{#User Log Out Pop Up#}
{% load i18n %}
<ul class="dropdown-menu userProfileLogoutDrop">
	<li>
		<div class="navbar-content">
			<div class="row">
				<div class="col-md-4 no_padding">
					<img class="uimHeaderNotiActorSnapl img-circle img-responsive"
						id="actorSnapOrginal"
						src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c55.0.160.160/p160x160/1795689_10152214496584911_1020271541_n.jpg"
						alt="{{usr.fname}} {{usr.lname}}" />
					<p class="small fs12">
						<a href="#" class="fs12">{% blocktrans %}Change Photo{% endblocktrans %}.</a>
					</p>
				</div>
				<div class="col-md-8 no_padding fs12">
					<span class="fwb small no_tb_margin mbxs">{{usr.fname}} {{usr.lname}}</span>
					<p class="text-muted small">{{usr.email}}</p>
					<div class="divider"></div>
					<div class="row">
						<div class="col-md-12 no_padding">
							<div class="btn-group">
								<a href="#"
									class="btn btn-default btn-xs">{% blocktrans %}Sign Out{% endblocktrans %}.</a> <a
									href="#"
									class="btn btn-default btn-xs">{% blocktrans %}Current Session{% endblocktrans %}.</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>