{#This is Not getting used currently #}
{#Register first step profile edit page #}
{% load i18n %}
<div class="mb10 stepcard">
	<ol class="progtrckr" data-progtrckr-steps="3" id="_um_progtrckr">
    	<li class="{{s.step1_class}}" data-progtrckr-step="1" id="_um_progtrckr_1">{% trans "Keep a Profile Snap"%}</li><!--
 	--><li class="{{s.step2_class}}" data-progtrckr-step="2" id="_um_progtrckr_2">{% trans "Find Friends"%}</li><!--
 	--><li class="{{s.step3_class}}" data-progtrckr-step="3" id="_um_progtrckr_3">{% trans "Where have you been"%}?</li>
</ol>
</div>
<div class="card _step_complete_card" id="_step_complete_card">

	 <div class="ui_error _ui_e_w_b mb20 _ui_e_w_lgn_w {% if not s.INVLDMSG %}hidden{% endif %}" id="_ui_cp_prf_faild_msg_wr">
	    <i class="ui_error_img dib"></i>
	    <span class="f13" id="_ui_cp_prf_faild_msg">{% blocktrans %}{{ s.INVLDMSG }}{% endblocktrans %}</span>
	 </div>
	 <!-- In case of any suggestion for user -->
	  <div class="ui_info _ui_e_w_b mb20 _ui_e_w_lgn_w {% if not s.INVLDSUG %}hidden{% endif %}" id="_ui_cp_prf_faild_msg_sug">
	   	<i class="ui_info_img dib"></i>
	    <span class="f13" id="_ui_cp_prf_faild_sug">{% blocktrans %}{{ s.INVLDSUG }}{% endblocktrans %}</span>
	  </div>
	  <!-- Order List for steps -->
	 <ol>
		<li id="stp1" class="{{s.step1_status_class}} mb5">
			<!-- Upload Profile Snap -->
			<form id="snapupload" action="/" method="post" data-snap-upload-url="{% url 'account.snap.upload.preview' %}" data-snap-id="{{prf_id}}_snap_prf_cu">
				{% csrf_token %}
				<input type="hidden" name="completedsteps" value="{{s.step_completed}}">
				<input type="hidden" value="{{prf_id}}" name="_uim_prf_act">
	    		<img src="{{ STATIC_URL }}images/{% if sex == "M" %}male{% else %}female{% endif %}_dflt_psnap.png" alt="{% blocktrans %}Profile Pic{% endblocktrans %}" class="profile-img"/>
		
	    		<fieldset class="inputs">
					<span class="db mt15 f15 tc-6 mb30 uplprftxtw">
						<label>{% trans "Keep a Snap which describes you"%}.</label>
					</span>
			
					<span class="UFICommentAttachmentButtons clearfix">
						<span class="f12 fwb tc-6 UFIPhotoAttachLinkWrapper _ui_snap_wrap">
							<i class="UFICommentPhotoIcon dib">
								<input type="file" accept="image/*" class="_ui_snap_in" id="prf_snap" name="snap" multiple="" title="Choose a file to upload"/>
							</i>
							<span class="tc-6 _ui_snap_txt_wrap">{% trans "From Computer" %}</span>
							<input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
  							<input type="hidden" id="_prf_snap_id" name="_prf_snap_id" value="{{prf_id}}_prf_snap"/>
						</span>
					</span>
					<span class="db mt15 f10 tc-6 mb30 ml58 hidden" id="_uim_upl_snap_prv"></span>
			
					<span id="_uim_upl_snap_prv_hldr" class="hidden">
						<span class="db mt15 f12 tc-6 ml15">{% trans "Preview" %}</span>
						<span>
							<canvas id="canvasThumbResult" width="120" height="120" class="profile-img ml109"></canvas>
							<input type="hidden" id="_ui_prf_crop_fn" name="_ui_prf_crop_fn"/>
						</span>
					</span>
    			</fieldset>
    			<fieldset id="actions">
    				<span class="f-left dib">
    					<a class="_uibtn lh-30 _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24 _uibtn_wd_lr hidden" role="button" href="#" id="_ui_first_time_prf_up_snap">{% trans "Save" %}</a>
    				</span>
    			</fieldset>
			</form>
		</li>
		<!-- Find Friends -->
		<li id="stp2" class="{{s.step2_status_class}} mb5">
			<div id="findfriends">
    			<fieldset class="inputs">
					<span class="db mt15 tc-6 f12">
						<label class="f15">{% trans "Find or Bring your friends/college here to get most of the fun" %}.</label>
						<label class="db mb1 f15">{% trans "We currently support contact import from Google, Yahoo, Link Dien, Twitter and Facebook" %}.</label>
						<label class="db mb1 f10">*{% trans "We don't store your credentials" %}.</label>
					</span>
					<!-- Ordered List for the different contact forms -->
					<ol>
						<li id="prv1">
							<!-- Google Contact Form -->
							<form action="" id="googlecontactform">
								<span class="db mt15" id="_ui_gogle_c_i_wr" title="{% blocktrans %}Google Friends Import{% endblocktrans %}">
									<input id="_ui_google_chk" name="googlein" type="checkbox" class="ml3 _ui_cntct_chc" data-form-ref="prv1"
											title="{% blocktrans %}Google Friends Import{% endblocktrans %}" checked="checked"/>
							
									<label for="_ui_google_chk" class="ml6 dib tc-6 f12">{% trans "Google" %}.</label>
									<span class="db mt10 ml22 prvbdwrap" id="googlecontactactionw">
							
										<span class="dib pt8 mr35 clearfix">
    										<a class="_uibtn _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-22 _uibtn_wd_lr" 
    											href="{% url 'account.uiwelcome.contacts.import' %}?provider=google&completedsteps={{s.step_completed}}" id="_ui_google_in_sb">{% trans "Find Google Contacts" %}
    										</a>
    									</span>	
									</span>
								</span>
							</form>
						</li>
						<li id="prv2">
							<!-- Yahoo Contact Form -->
							<form action="" id="yahoocontactform">
								<span class="db mt15" id="_ui_yahoo_c_i_wr" title="{% blocktrans %}Yahoo Contacts Import{% endblocktrans %}">
									<input id="_ui_yahoo_chk" name="yahooin" class="ml3 _ui_cntct_chc" data-form-ref="prv2"
										type="checkbox" class="ml3" title="{% blocktrans %}Yahoo Friends Import{% endblocktrans %}"/>
							
									<label for="_ui_yahoo_chk" class="ml6 dib tc-6 f12"> {% trans "Yahoo" %}.</label>
									<span class="db mt10 ml22 hidden prvbdwrap" id="yahoocontactactionw">
					
										<span class="dib pt8 mr35 mb5">
    										<a class="_uibtn lh-22 _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer _uibtn_wd_lr" 
	    										href="{% url 'account.uiwelcome.contacts.import' %}?provider=yahoo&completedsteps={{s.step_completed}}" id="_ui_yahoo_in_sb">{% trans "Find Yahoo Contacts" %}</a>
    									</span>	
									</span>
								</span>
							</form>
						</li>
					</ol>
	    		</fieldset>
			</div>
		</li>		
		<li id="stp3" class="{{s.step3_status_class}} mb5">
			<!-- Places -->
			<form id="places">
				<input type="hidden" name="completedsteps" value="{{s.step_completed}}">
    			<fieldset class="inputs">
					<span class="db mt15 tc-6 f16 mb15">
						<label>{% trans "Places you belongs to, which will help us to serve the best content" %}.</label>
						<label class="db f10">*{% trans "Please Type your location slowly, for better search result follow locality street city state country" %}.</label>
					</span>
				
					<div class="ml135 mt30 mb20">
						<input id="_ui_places_1_cur" name="currentplace" type="text" 
									class="f12 mb10 _ui_plc_in" 
									value="" autocomplete="off" placeholder="{% blocktrans %}Where Are you Now{% endblocktrans %}?"/>
								
						<span class="mt10 db">
								
							<input id="_ui_places_1_org" name="orignplcae" type="text"
										class="f12 mt10 mb10 _ui_plc_in" autocomplete="off" placeholder="{% blocktrans %}You Belongs To{% endblocktrans %}?"/>
						</span>
					</div>

    			</fieldset>

    			<fieldset id="actions">
    				<span class="f-right dib">
    					<a class="_uibtn lh-30 _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24 _uibtn_wd_lr" role="button" href="#" id="_ui_signup">{% trans "Save" %}</a>
    				</span>

    			</fieldset>

			</form>
		</li>
	</ol>
	<fieldset id="comnon-actions">
    	<span class="f-right dib pt8 mr35">
   			<a class="tc-6 f12 _ui_stp_skp uimtpd" href="#" id="_ui_stp_skp" data-from-next-ref="{{s.data_from_next_ref}}" data-from-ref="{{s.data_from_ref}}" data-tab-ref="{{s.data_tab_ref}}" data-tab-next-ref="{{s.data_tab_next_ref}}" title="{% blocktrans %}Skip This Step{% endblocktrans %}">{% trans "Skip" %}</a>
   		</span>
   		<span class="f-left dib">
   			<a class="tc-6 f12 _ui_stp_back uimtpd hidden" title="{% blocktrans %}Back To Previous Step{% endblocktrans %}" role="button" href="#" id="_ui_stp_back" data-from-prv-ref="{{s.data_from_prv_ref}}" data-from-ref="{{s.data_from_ref}}" data-tab-ref="{{s.data_tab_ref}}" data-tab-prv-ref="{{s.data_tab_prv_ref}}">{% trans "Back" %}</a>
   		</span>
   	</fieldset>
</div>
<!-- For pop ups , make this work latter -->
<div class="clearfix"></div>
<div id="popup" class="popupwrap {% if not s.data %}hidden{% endif %}">
	<span class="popup_close uimtpd" id="popup_close" title="{% blocktrans %}Close{% endblocktrans %}">x</span>
	{% if s.data%}
		<div id="popupmaincontent">
			{% if s.datatype == 'contacts'%}
				<div class="dib f-left">
   					<span class="db contacthead">Contact</span>
   					<div class="contactwrapper pt5 pb5 pl5 pr5 uimtpd" id="contactfromwrapper" title="{% blocktrans %}Drag and Drop in Invite List{% endblocktrans %}">
   						<ul class="contacttokenlist contactlist" id="contact_token_list">
   							{% for el in s.data %}
		           			<li id="{{forloop.counter}}" class="normal active">{{el}}</li>
							{% endfor %}
   						</ul>
   					</div>
   				</div>
   				<div class="dib ml20 mt40 contactslaction mr10">
   					<span class="db uimtpd" id="_contact_ex_ac" data-ref="lft" title="{% blocktrans %}Invite{% endblocktrans %}">Invite &gt;</span>
   					<span class="db uimtpd" id="_contact_ex_ac_all" data-ref="lft" title="{% blocktrans %}Invite All{% endblocktrans %}">Invite All &gt;</span>
   				</div>
   				<div class="dib">
   					<span class="db contacthead">Invite</span>
   					<div class="contactwrapper pt5 pb5 pl5 pr5" id="contacttowrapper">
   						<ul class="contacttokenlist contactlist" id="invite_token_list"></ul>
   					</div>
   				</div>
   				<div class="clearfix"></div>
   				<div class="db f-right mt5">
   					<a class="_uibtn lh-30 _uibtn_prp _uibtn_img _uibtn_bl_c fwb f12 dib pointer lh-24 _uibtn_wd_lr hidden" id="_ui_send_invitation" href="#">Send Invitation</a>
   				</div>
   			{% endif %}
		</div>
	{% endif %}
</div>	
<div id="fade" class="popupbackground {% if not s.data %}hidden{% endif %}"></div>
<span class="hidden" id="_ui_img_load_wt">
	<span id="#ajaxloader3">Loading...</span>
</span>
