{% load i18n %}
<div class="row" id="">
    <div class="col-xs-12">
        <div class="col-md-12 well">
        	<ul class="pager">
				<li class="previous uimStepNav" id="backNavigation"><a href="#">&larr; {% blocktrans %}Back{% endblocktrans %}</a></li>
				<li class="next uimStepNav" id="forwardNavigation"><a href="#">{% blocktrans %}Skip{% endblocktrans %} &rarr;</a></li>
				<li class="next uimStepNav home" id="homeNavigation"><a href="#">{% blocktrans %}Home{% endblocktrans %} &rarr;</a></li>
			</ul>
        </div>
    </div>
</div>