<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/modal.js"></script>
<script src="{{ STATIC_URL }}js/jquery.navigate.js"></script>
<script src="{{ STATIC_URL }}js/jquery.Jcrop.min.js"></script>
<script src="{{ STATIC_URL }}js/welcome/jquery.croputil.js"></script>
<script src="{{ STATIC_URL }}js/jquery.autosize.js"></script>
<script src="{{ STATIC_URL }}js/welcome/jquery.uimTokenInput.js"></script>
<script src="{{ STATIC_URL }}js/welcome/uim.welcome.js"></script>
{#{% include 'facebook_sdk/_facebook_js.html' %}#}