{% load i18n %}
<div class="row">
	<blockquote class="blockquote-reverse fs-13">
		<p class="text-primary">{% blocktrans %}Life is all about timing{%endblocktrans %}... {% blocktrans %}the unreachable becomes
			reachable, the unavailable become available, the unattainable
			{%endblocktrans %}... {% blocktrans %}attainable. Have the patience,
			wait it out It's all about timing{% endblocktrans %}.</p>
		<footer class="text-muted">
			{% blocktrans %}We are Here{% endblocktrans %}... <cite
				title="Source Title">{% blocktrans %}To make you reachable{%endblocktrans %}...</cite>
		</footer>
	</blockquote>
	<hr>
</div>