{% load i18n %}
<!--Chat Sidebar -->
<!-- TODO work pending -->
<div id="sidebar-wrapper" class="sidebar">
	<ul class="list-group sidebar-nav" id="contact-list">
		<li class="list-group-item">
			<div class="uimChatImg">
				<img src="http://api.randomuser.me/portraits/men/49.jpg"
					alt="Scott Stevens" class="img-responsive img-circle" />
			</div>
			<div class="uimChatUserInfo">
				<span class="name">Scott Stevens</span> <br /> 
				<span class="fa fa-map-marker fa-fw text-muted c-info"
						data-toggle="tooltip" title="5842 Hillcrest Rd"> </span> 
				<span class="fa fa-phone fa-fw text-muted c-info"
						data-toggle="tooltip" title="(870) 288-4149"> </span> 
				<span class="fa fa-envelope-o text-muted c-info fa-fw"
					  data-toggle="tooltip" title="scott.stevens@example.com"></span>
			</div>
			<div class="clearfix"></div>
		</li>
		<li class="list-group-item">
			<div class="uimChatImg">
				<img src="http://api.randomuser.me/portraits/men/49.jpg"
					alt="Scott Stevens" class="img-responsive img-circle" />
			</div>
			<div class="uimChatUserInfo">
				<span class="name">Scott Stevens</span> <br /> 
				<span class="fa fa-map-marker fa-fw text-muted c-info"
						data-toggle="tooltip" title="5842 Hillcrest Rd"> </span> 
				<span class="fa fa-phone fa-fw text-muted c-info"
						data-toggle="tooltip" title="(870) 288-4149"> </span> 
				<span class="fa fa-envelope-o text-muted c-info fa-fw"
					  data-toggle="tooltip" title="scott.stevens@example.com"></span>
			</div>
			<div class="clearfix"></div>
		</li>
		<li class="list-group-item">
			<div class="uimChatImg">
				<img src="http://api.randomuser.me/portraits/men/49.jpg"
					alt="Scott Stevens" class="img-responsive img-circle" />
			</div>
			<div class="uimChatUserInfo">
				<span class="name">Scott Stevens</span> <br /> 
				<span class="fa fa-map-marker fa-fw text-muted c-info"
						data-toggle="tooltip" title="5842 Hillcrest Rd"> </span> 
				<span class="fa fa-phone fa-fw text-muted c-info"
						data-toggle="tooltip" title="(870) 288-4149"> </span> 
				<span class="fa fa-envelope-o text-muted c-info fa-fw"
					  data-toggle="tooltip" title="scott.stevens@example.com"></span>
			</div>
			<div class="clearfix"></div>
		</li>
		<li class="list-group-item">
			<div class="uimChatImg">
				<img src="http://api.randomuser.me/portraits/men/49.jpg"
					alt="Scott Stevens" class="img-responsive img-circle" />
			</div>
			<div class="uimChatUserInfo">
				<span class="name">Scott Stevens</span> <br /> 
				<span class="fa fa-map-marker fa-fw text-muted c-info"
						data-toggle="tooltip" title="5842 Hillcrest Rd"> </span> 
				<span class="fa fa-phone fa-fw text-muted c-info"
						data-toggle="tooltip" title="(870) 288-4149"> </span> 
				<span class="fa fa-envelope-o text-muted c-info fa-fw"
					  data-toggle="tooltip" title="scott.stevens@example.com"></span>
			</div>
			<div class="clearfix"></div>
		</li>
		
	</ul>
</div>