@charset "utf-8";
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
.badge {
  display: block;
  position: absolute;
  top: -12px;
  right: 3px;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: @gray;
  background-color: @grayLight;
}

.btn {
  .badge {
    position: absolute;
    top: -12px;
  }
}

.btn-mini {
  .badge {
    top: -12px;
  }
}