@charset "utf-8";
.uimLogo{
	background-image: url("/static/images/uim-allApp.png");
}
.social{
	background-position: -5px -29px;
	height: 17px;
	width: 99px;
	padding-right: 39px;
	padding-left: 54px;
}
.uimHead .lang-chooser{
	background-color: #333;
	color: #fff;
	margin-top: 10px;
	height: 21px;
}
.uimHead .actorGreetingWrap, .uimHead .actorGreetingWrap>a{
	font-size: 14px;
	color: #fff;
}
.uimHead .uimHeadSerach{
	height: 30px;
}
.uimHead .uimHeadSerachIco{
	font-size: 10px;
	line-height: 1.628571;
}
.uimHead .flyOutIco{
	font-size: 16px;
}
.uimHeaderPic{
	height: 20px;
	width: 25px;
}
.uimHeaderPic:hover{
	cursor: pointer;
}
