<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/vednor/font-awesome.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uim.common.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uim.top.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uim.subtop.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uim.chat.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uim.ch.view.css" type="text/css">