@charset "utf-8";
.uimLogo{
	background-image: url("/static/images/uim-allApp.png");
}
.social{
	background-position: -5px -29px;
	height: 17px;
	width: 99px;
	padding-right: 39px;
	padding-left: 54px;
}
.uimHead .lang-chooser{
	background-color: #333;
	color: #fff;
	margin-top: 10px;
	height: 21px;
}
.uimHead .actorGreetingWrap, .uimHead .actorGreetingWrap>a{
	font-size: 14px;
	color: #fff;
}
.uimHead .uimHeadSerach{
	height: 30px;
}
.uimHead .uimHeadSerachIco{
	font-size: 10px;
	line-height: 1.628571;
}
.uimHead .flyOutIco{
	font-size: 16px;
}
.uimHeaderPic{
	height: 20px;
	width: 25px;
}
.uimHeaderNotiActorSnapl{
	height: 70px;
	width: 70px;
}
.uimHeaderNotiActorSnaps{
	height: 40px;
	width: 45px;
}
.uimHeaderPic:hover, li.flyOutReachable:hover,li.flyOutReachable:ACTIVE, li.flyOutReachable:FOCUS{
	cursor: pointer;
}
.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
/* .dropdown-menu {
padding: 0px;
overflow: hidden;
} */
ul.flyOutContentWrap{
	width:320px;
}
.flyOutContentWrap>li.flyOutContent{
	padding: 15px;
	padding-bottom: 2px;
}
.flyOutContentWrap>li.flyOutContent{
	border-bottom: 1px solid #e5e5e5;
}
/*TODO work on color*/
li.flyOutMessage:hover,li.flyOutMessage:ACTIVE, 
li.flyOutMessage:FOCUS, li.flyOutReminder:hover,li.flyOutReminder:ACTIVE, li.flyOutReminder:FOCUS,
li.flyOutGlobalNoti:FOCUS, li.flyOutGlobalNoti:hover,li.flyOutGlobalNoti:ACTIVE, li.flyOutGlobalNoti:FOCUS{
	background-color: #DDD;
	cursor: pointer;
}
