@charset "utf-8";
.uimHead .badge{
	top: 4px;
}
.navbar.uimHead{
	margin-bottom: 0px;
} 
.navbar.uimSubHead{
	margin-bottom: 5px;
}
.fa:empty {
width: 1em;
}
.row{
    margin-left:0px;
    margin-right:0px;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#page-content-wrapper {
  width: 100%;
}
#wrapper {
    padding-left: 10px;
    transition: all .4s ease 0s;
    height: 100%
}
#sidebar-wrapper {
    margin-left: -150px;
    left: -72px;
    width: 222px;
    background: #fff;
    position: fixed;
    height: 100%;
    /* z-index: 10000; */
    transition: all .4s ease 0s;
}
#wrapper.active {
    padding-left: 222px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}
@media (max-width:767px) {
    #wrapper {
    padding-left: 10px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 10px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.contentHolder{
	background-color: #fff;
	min-height: 700px;
	padding-top: 2px;
}
.uimSubHead .btn{
	font-size: 13px;
}
ul#challenges, ul#challengeReminders, .challenge .details ul.tags, ul#challengeFilterTags,
ul#challengeFilterFavorites, ul#challengeFilterBenefits{
	list-style: none;
	padding: 0;
	margin: 0 auto;
	border: none;
}
ul#challenges>li.challenge, ul#challengeReminders>li.reminder, 
ul#challengeFilterFavorites>li.tag, ul#challengeFilterBenefits>li.tag,
.challenge .details ul.tags > li.tag, ul#challengeFilterTags > li.tag{
	padding: 2px;
}
ul#challenges>li.challenge.favourite{
	background-color: #FCEFA6;
}
ul#challenges>li.challenge.loos{
	background-color: #FFB9B0;
}
ul#challenges>li.challenge.win{
	background-color: #C8FAE0;
}
ul#challenges>li.challenge.submitted{
	background-color: #CCE7F5;
}
#challenges>li:not(:last-child){
	border-bottom: 1px solid #eaeaea;
}
.challenge .banner{
	height: 70px;
	width: 90px;
}
.challenge .metaInfo{
	max-width: 200px;
	overflow: hidden;
	font-size: 12px;
}
.challenge .details .title, .challenge .details .summery{
	font-size: 14px;
	padding: 0;
	margin: 0 auto;
}
.challenge.favourite .fav, .challenge .fav.marked{
	color: #333;
	font-weight: bold;
}
.challenge .fav{
	cursor: pointer;
}
.challenge .details ul.tags > li.tag, ul#challengeFilterTags > li.tag, 
ul#challengeFilterFavorites>li.tag, ul#challengeFilterBenefits>li.tag{
	float: left;
	display: inline;
}
.challenge .metaInfo .time{
	color: #999;
	font-size: 11px;
}
.challenge .tags .badge, #challengeFilterTags .tag .badge, .challengeTags .tag .badge{
	font-size: 10px;
	color: #3e6d8e;
	background-color: #e0eaf1;
	border-bottom: 1px solid #b3cee1;
	border-right: 1px solid #b3cee1;
}
.challenge .tags .badge:hover, #challengeFilterTags .tag .badge:hover, .challengeTags .tag .badge:hover{
	background-color: #c4dae9;
	border-bottom: 1px solid #c4dae9;
	border-right: 1px solid #c4dae9;
	text-decoration: none;
	cursor: pointer;
}
.reminders{
	display: none;
}
.hasReminder .reminders{
	display: block;
}
/*Left Side*/
ul#challengeReminders>li.reminder.seAll>a{
	width: 100%
}

/*Tag Filter*/
#challengeFilterTags .tag .badge, .challengeTags .tag .badge{
	font-size: 12px;
}
#challengeIndividualLeftFavTags .heading>.sub{
	font-size: 11px;
}